* {
  padding: 0;
  margin: 0;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px 13%;
  border-bottom: lightgray 1px solid;
}
.Header__container {
  /* width: 850px; */
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
  height: 70px;
}
.Header__container img {
  width: 170px !important;
  padding-top: 5px;
  /* margin-left: 180px; */
  vertical-align: middle;
}
.logo__container {
  flex: 1;
}
.Header__container ul {
  display: flex;
  list-style: none;
  margin-left: 90px;
  justify-content: flex-end;
  width: 300px;
}
.Header__container li {
  margin-right: 30px;
  /* width: 50px; */
}
.link__containers a {
  text-decoration: none;
  color: black;
  list-style: none;
}
.link__containers a:hover {
  color: orange;
}
.Header__container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}
.Header__container button a {
  color: #fff;
}
.links {
  /* width: 600px; */
  display: flex;
  place-items: center;
  margin-left: 400px;
  /* justify-content: space-between; */
  /* gap: 10px; */
}
.links button:hover {
  background-color: orange;
}
@media (max-width: 800px) {
  .Header__container {
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    margin: 0 auto;
  }
  .Header__container img {
    margin-left: 0;
  }
  .Header__container ul {
    margin-left: 0;
    justify-content: center;
  }
  .links {
    margin-right: 0;
    margin-left: auto;
  }
}
